<div class="mat-elevation-z4">
    <h1 style="margin-bottom: 15px;">
        <i class="material-icons">credit_card</i> Conta a Receber
    </h1>
    <div class="container">
        <app-loading *ngIf="isLoading"></app-loading>
        <form>
            <mat-form-field appearance="outline" class="w50">
                <mat-label>Documento</mat-label>
                <input [(ngModel)]="crForm.documento" type="text" name="documento" matInput placeholder="Documento...">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w50 right">
                <mat-label>Venda</mat-label>
                <input [(ngModel)]="crForm.venda" readonly type="text" name="venda" matInput placeholder="Venda...">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w50">
                <mat-label>Tipo</mat-label>
                <mat-select name="tipo" [(value)]="crForm.tipo" [compareWith]="compareFn" (valueChange)="getTipo()" [(ngModel)]="crForm.tipo" placeholder="Tipo...">
                    <mat-option value="0">Cartão</mat-option>
                    <mat-option value="1">Crediário</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w50 right">
                <mat-label>Vencimento</mat-label>
                <input [(ngModel)]="crForm.vencimento" name="vencimento" id="vencimento" matInput [matDatepicker]="c" readonly>
                <mat-datepicker-toggle disabled matSuffix [for]="c"></mat-datepicker-toggle>
                <mat-datepicker #c></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cliente</mat-label>
                <mat-select name="cliente" [(ngModel)]="crForm.cliente" placeholder="Cliente..." (selectionChange)="onClienteSelecionada()">
                    <mat-option *ngFor="let Cliente of allCliente" [value]="Cliente.id">{{ Cliente.nome }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="crForm.categoria != 0" appearance="outline" class="w50">
                <mat-label>Categoria</mat-label>
                <input [(ngModel)]="crForm.nomecategoria" readonly type="text" name="categoria" matInput placeholder="Categoria...">
            </mat-form-field>
            <mat-form-field *ngIf="crForm.conta != 0" appearance="outline" class="w50 right">
                <mat-label>Conta</mat-label>
                <input [(ngModel)]="crForm.nomeconta" readonly type="text" name="conta" matInput placeholder="Conta...">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w33">
                <mat-label>Valor</mat-label>
                <input [(ngModel)]="crForm.valor" readonly type="text" name="valor" matInput placeholder="Valor..." currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" (ngModelChange)="updateTotal()">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w33 ml_2">
                <mat-label>Juros</mat-label>
                <input [(ngModel)]="crForm.juros" readonly type="text" name="juros" matInput placeholder="Juros..." currencyMask [options]="{ prefix:'', suffix: '% ', thousands: '.', decimal: ',' }">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w33 right">
                <mat-label>Total</mat-label>
                <input [(ngModel)]="crForm.total" readonly type="text" readonly name="total" matInput placeholder="Total..." currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
            </mat-form-field>

            <div class="clear"></div>

            <div style="padding-top: 8px; float: right;" mat-dialog-actions [align]="'end'">
                <button mat-raised-button color="primary" (click)="updateCr()">Salvar</button>
                <button style="margin-left: 8px;" mat-raised-button color="warn" (click)="gotoList()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
