@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
html,
body {
    height: 100%;
    background-color: #f7f5f5 !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-dialog-close {
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
}

.confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
    margin-top: 100%;
}

.confirm-dialog-container .content-container {
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}

.confirm-dialog-container #close-icon {
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}

.confirm-dialog-container #close-icon:hover {
    cursor: pointer;
}

.confirm-dialog-container #no-button {
    height: 40px;
    width: 30%;
    background-color: #b6bece;
    color: white;
    border-radius: 70px;
    left: 70%;
    transform: translateX(-113%);
    margin-bottom: 10px;
}

.confirm-dialog-container #yes-button {
    height: 40px;
    width: 30%;
    background-color: #f44336;
    color: white;
    border-radius: 70px;
    vertical-align: center;
    left: 70%;
    transform: translateX(-115%);
    margin-bottom: 10px;
}

.confirm-dialog-container span.content-span {
    padding: 35px 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

.confirm-dialog-container {
    transform: translateY(-50%);
}
