<div class="mat-elevation-z4">
    <h1 style="margin-bottom: 15px;">
        <i class="material-icons">group</i> Cliente
    </h1>
    <div class="container">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    Geral
                </ng-template>
                <div class="space">
                    <form>
                        <mat-form-field appearance="outline" class="w70 left">
                            <mat-label>Nome</mat-label>
                            <input [(ngModel)]="clienteForm.nome" required type="text" name="nome" matInput placeholder="Nome...">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w30 right">
                            <mat-label>Cadastro</mat-label>
                            <input [(ngModel)]="clienteForm.cadastro" name="cadastro" id="cadastro" matInput [matDatepicker]="c" readonly>
                            <mat-datepicker-toggle matSuffix disabled [for]="c"></mat-datepicker-toggle>
                            <mat-datepicker #c></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w70 left">
                            <mat-label>Fantasia</mat-label>
                            <input [(ngModel)]="clienteForm.fantasia" type="text" name="fantasia" matInput placeholder="Fantasia..." [disabled]="clienteForm.pessoa == 0">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w30 right">
                            <mat-label>Pessoa</mat-label>
                            <mat-select name="pessoa" [(value)]="clienteForm.pessoa" required [(ngModel)]="clienteForm.pessoa" [compareWith]="compareFn" placeholder="Pessoa...">
                                <mat-option value="0">Física</mat-option>
                                <mat-option value="1">Jurídica</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w33 left">
                            <mat-label>CPF</mat-label>
                            <input [(ngModel)]="clienteForm.cpf" type="text" name="cpf" mask="000.000.000-00" matInput placeholder="CPF..." [disabled]="clienteForm.pessoa == 1">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w33 left ml_2">
                            <mat-label>CNPJ</mat-label>
                            <input [(ngModel)]="clienteForm.cnpj" type="text" name="cnpj" mask="00.000.000/0000-00" matInput placeholder="CNPJ..." [disabled]="clienteForm.pessoa == 0">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w33 right">
                            <mat-label>RG</mat-label>
                            <input [(ngModel)]="clienteForm.rg" type="text" name="rg" mask="00.000.000-0" matInput placeholder="RG..." [disabled]="clienteForm.pessoa == 1">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w50 left">
                            <mat-label>Email</mat-label>
                            <input [(ngModel)]="clienteForm.email" type="text" name="email" matInput placeholder="Email...">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w25 ml_1">
                            <mat-label>Celular</mat-label>
                            <input [(ngModel)]="clienteForm.telefone_1" type="text" mask="(00) 00000-0000" name="telefone_1" matInput placeholder="Celular...">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w25 right">
                            <mat-label>Telefone</mat-label>
                            <input [(ngModel)]="clienteForm.telefone_2" type="text" mask="(00) 0000-0000" name="telefone_2" matInput placeholder="Telefone...">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w33 left">
                            <mat-label>Sexo</mat-label>
                            <mat-select name="sexo" [(value)]="clienteForm.sexo" [(ngModel)]="clienteForm.sexo" placeholder="Sexo..." [compareWith]="compareFn">
                                <mat-option value="0">Masculino</mat-option>
                                <mat-option value="1">Feminino</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w33 ml_2">
                            <mat-label>Data de Nascimento</mat-label>
                            <input [(ngModel)]="clienteForm.data_nascimento" name="data_nascimento" id="data_nascimento" matInput [matDatepicker]="dn">
                            <mat-datepicker-toggle matSuffix [for]="dn"></mat-datepicker-toggle>
                            <mat-datepicker #dn></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w33 right">
                            <mat-label>Ultima Compra</mat-label>
                            <input [(ngModel)]="clienteForm.ultima_compra" name="ultima_compra" id="ultima_compra" matInput [matDatepicker]="uc" readonly>
                            <mat-datepicker-toggle matSuffix disabled [for]="uc"></mat-datepicker-toggle>
                            <mat-datepicker #uc></mat-datepicker>
                        </mat-form-field>
                        <div class="clear"></div>
                    </form>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    Endereço
                </ng-template>
                <div class="space">
                    <mat-form-field appearance="outline" class="w70 left">
                        <mat-label>Endereço</mat-label>
                        <input [(ngModel)]="clienteForm.endereco" type="text" name="endereco" matInput placeholder="Endereço...">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w30 right">
                        <mat-label>CEP</mat-label>
                        <input [(ngModel)]="clienteForm.cep" type="text" name="cep" mask="00.000-000" matInput placeholder="CEP...">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w40 left">
                        <mat-label>Bairro</mat-label>
                        <input [(ngModel)]="clienteForm.bairro" type="text" name="bairro" matInput placeholder="Bairro...">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w40 left ml_1">
                        <mat-label>Complemento</mat-label>
                        <input [(ngModel)]="clienteForm.complemento" type="text" name="complemento" matInput placeholder="Complemento...">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w20 right">
                        <mat-label>Número</mat-label>
                        <input [(ngModel)]="clienteForm.numero" type="text" name="numero" matInput placeholder="Número...">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w50 left">
                        <mat-label>UF</mat-label>
                        <mat-select name="uf" [(ngModel)]="clienteForm.uf" (valueChange)="getCidade()" placeholder="UF..." (selectionChange)="onUFSelecionada()" [compareWith]="compareFn">
                            <mat-option *ngFor="let ufs of uf" [value]="ufs.id">{{ ufs.sigla }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w50 right">
                        <mat-label>Cidade</mat-label>
                        <mat-select name="cidade" [(ngModel)]="clienteForm.cidade" placeholder="Cidade..." (selectionChange)="onCidadeSelecionada()" [compareWith]="compareFn">
                            <mat-option *ngFor="let cidades of cidade" [value]="cidades.id">{{ cidades.nome }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="clear"></div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <app-loading *ngIf="isLoading"></app-loading>
        <form>
            <div style="padding-top: 8px; float: right;" mat-dialog-actions [align]="'end'">
                <button mat-raised-button color="primary" (click)="updateCliente()">Salvar</button>
                <button style="margin-left: 8px;" mat-raised-button color="warn" (click)="gotoList()">Cancelar</button>
            </div>
        </form>
    </div>
</div>