<h1 style="margin-bottom: 15px;">
    <i class="material-icons">badge</i>Opções de pagamento
    <button style="float: right;" mat-raised-button color="primary" [routerLink]="['/opgCreate']"> <i class="material-icons">add</i> Adicionar Opção de pagemnto</button>
</h1>
<div class="container">
    <div class="mat-elevation-z4">
        <table class="table" style="background-color: #fff;">
            <thead style="border-bottom: 1px solid black; bottom: 15px;">
                <td style="font-weight: bold; text-align: center; padding: 15px 0;">Nome</td>
                <td style="font-weight: bold; text-align: center; padding: 15px 0;">Tipo</td>
                <td></td>
                <td></td>
            </thead>
            <app-loading *ngIf="isLoading"></app-loading>
            <tbody>
                <ng-container *ngFor="let opg of allOpg">
                    <tr *ngIf="opg.tipo == 0">
                        <th style="font-weight: normal;text-align: center; padding-top: 20px;"> {{ opg.nome }}</th>
                        <th style="font-weight: normal;text-align: center; padding-top: 20px;"> À Vista</th>
                        <th style="font-weight: normal;text-align: center; padding-top: 10px;">
                            <button mat-icon-button [routerLink]="['/opgUpdate',opg.id]" color="primary">
                          <mat-icon>edit</mat-icon>
                        </button>
                        </th>
                        <th style="font-weight: normal;text-align: center; padding-top: 10px;">
                            <button mat-icon-button color="warn" (click)="onDelete(opg.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        </th>
                    </tr>
                    <tr *ngIf="opg.tipo == 1">
                        <th style="font-weight: normal;text-align: center; padding-top: 20px;"> {{ opg.nome }}</th>
                        <th style="font-weight: normal;text-align: center; padding-top: 20px;"> À Prazo</th>
                        <th style="font-weight: normal;text-align: center; padding-top: 10px;">
                            <button mat-icon-button [routerLink]="['/opgUpdate',opg.id]" color="primary">
                        <mat-icon>edit</mat-icon>
                      </button>
                        </th>
                        <th style="font-weight: normal;text-align: center; padding-top: 10px;">
                            <button mat-icon-button color="warn" (click)="onDelete(opg.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                        </th>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>